<div>
  <% @roles.each do |role_name, contact_roles| %>
    <div style="float:left;padding:0 10px;">
      <h2><%= ContactRole.convert_role(role_name) %></h2>
      <% contact_roles.each do |contact_role| %>
        <div>
          <span><%= contact_role.contact.name %></span>
          <span><%= ' - 리더' if contact_role.leader? %></span>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
