@charset 'UTF-8';
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700');
@import url('font-awesome.min.css');




/*********************************************************************************/
/* Custom                                                                        */
/*********************************************************************************/

p#download{
	margin-top:100px;
	margin-bottom:50px;
	margin-left:35%;
	margin-right:35%;
	width:30%;
	text-align: center;
	font-size:1.5em;

}

 input#database_import{
	 margin-top:50px;
	 width: 300px;
	 font-size: 1.2em;
	 display: block;
 }


/* Embedded Google Map */

/* contacts/new, contacts/edit image_tag styling*/





/* contacts/show */

div#show-body{
		width: 100%;
 		justify-content: center;
		position: absolute;
		margin: auto;
}
div#show{
		margin: auto;
		display: flex;
		justify-content: center;
		top: 0;
}

div#show-content{
	margin-top: 50px;
	width: 380px;

}
div#show-button{

	display: flex;
	justify-content: center;
	bottom: 0;
	/*margin-top: 50px; */

}
div#show-back, #show-edit, #show-delete{
	padding: 1.5px;

}


header#show-header{
width: 400px;

}
div#show-table{

}
div#show-image{
	margin-top: 150px;

}
span#image{

margin-right: 60px;


}

img{
	border-radius: 50%;
	width: 250px;
}

/* application */

	form#flash_message{
		margin-top:90px;
		margin-left:60px;
		color:green;
	}

 p#button input{
	 float: left;
width: 49%;

 }
 p#button a{
	 float: right;
width: 49%;

 }

/* contacts index */
	header#search-heading{
		padding-top: 20px;
		margin:0;
		text-align: center;
	}
	form#search-input-home{
		width:500px;
		display: flex;
		padding-top:10px;

	}

	form#search-input-home input[type=text]{
		width: 500px;
		border-radius: 0;
		padding: 0.5em;
		margin-left:50px;
	}

	form#search-input-home input[type=submit]{
		position:relative;
		background-color: rgba(47, 149, 212, 0.74);
		width: 100px;
		border-radius: 0;
		border:none;
		padding: 0.3em;
		height: 2.8em;
	}

	form#search-input-home input[type=submit]:hover{
		background-color: rgba(47, 149, 212, 1);
		color: #fff !important;
	}

/* contacts/search */

	header#search-heading{
		padding-top: 170px;
		margin:0;
		text-align: center;

	}
	form#search-input{
		width:550px;
		display: flex;
		margin: auto;
		padding-top: 270px;
	}

	form#search-input input[type=text]{
		width: 85%;
		border-radius: 0;
		padding: 0.5em;
	}


	form#search-input input[type=submit]{
		position:relative;
    background-color: rgba(47, 149, 212, 0.74);
		width: 15%;
		border-radius: 0;
		border:none;
		padding: 0;
		height: 2.8em;
	}

	form#search-input input[type=submit]:hover{
		background-color: rgba(47, 149, 212, 1);
		color: #fff !important;
	}






	p#edit_contact{
	text-align: center;
	font-size: 3em;
	margin-bottom:50px;

	}
  a#show_button{
		width:150px;
		height: 60px;
		line-height: 2.4em;
	}

	div#create_new_form{
		padding-top: 30px;
		margin-top:100px;
		margin: auto;
		margin-bottom:190px;
		width:100%;
		font-size: 1.2em;
		position: absolute;
		padding-left:25%;
		padding-right:25%;



	}

	div#create_new_form p{
		margin: 30px;

	}

	div#main_frame{
		margin: auto;
		padding-top: 50px;
		position: absolute;
		width: 100%;

	}

	div#search{

		margin: auto;
		width: 100%;
    position: absolute;


	}
	div#search-home{
		margin:28px;
		margin: auto;
		width: 100%;
		position: absolute;

	}

	div#message{
		margin-top:5px;
		margin-bottom:8px;
		margin-left:50px;
	}



	table{

		margin: 0
		position:fixed;
  	width:100%;
		margin-bottom:50px;
	}
	table td#show_key {
		font-size: 1.5em;
		font-weight: bold;
		height:35px;
	}
	td#show_value{
		font-size: 1.5em;

	}

	table#home th{
	font-size: 1.7em;
	height: 40px;
	}
	table#home td{
		vertical-align: center;
		text-align: center;
		vertical-align: middle;
		font-size: 1.3em;
		height: 35px;
		border-bottom: .1px dashed rgba(0, 0, 0, 0.1);
	}
	table#show-table{
		margin-top:80px;
		width: 400px;
	}

	/*********************************************************************************/
	/* Basic                                                                         */
	/*********************************************************************************/

	body,input,textarea,select
	{
		font-family: 'Open Sans', sans-serif;
		/*line-height: 1.85em;*/
		color: #888;
		font-weight: 300;
		margin:auto;
		display:block;

	}

		body.is-loading *
		{
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-o-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-o-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
		}

	a
	{
		color: #e16475;
		text-decoration: none;
		-moz-transition: color .2s ease-in-out;
		-webkit-transition: color .2s ease-in-out;
		-o-transition: color .2s ease-in-out;
		-ms-transition: color .2s ease-in-out;
		transition: color .2s ease-in-out;
	}

		a:hover
		{
			color: #f17485 !important;
		}

		a img
		{
			border: 0;
		}

	b, strong
	{
		font-weight: 600;
		color: #3e3e3e;
	}

	i, em
	{
		font-style: italic;
	}

	sub
	{
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}

	sup
	{
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}

	blockquote
	{
		border-left: solid 0.75em #eee;
		padding: 1em 0 1em 1.5em;
		font-style: italic;
	}

	h1, h2, h3, h4, h5, h6
	{
		color: #3e3e3e;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
		{
			text-decoration: none;
			color: inherit;
		}

	h2, h3, h4, h5, h6
	{
		font-weight: 700;
	}

	h1
	{
		font-weight: 300;
	}

		h1 strong
		{
			font-weight: 700;
		}

	em, i
	{
		font-style: italic;
	}

	br.clear
	{
		clear: both;
	}

	hr
	{
		border: 0;
		border-top: solid 1px #444;
		border-top-color: rgba(0,0,0,0.35);
		box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.1);
		height: 1px;
		margin: 3em 0 4em 0;
	}

	p, ul, ol, dl
	{



	}

	/* Form */

		form
		{
		}

			form label
			{
				color: #3e3e3e;
				font-weight: 700;
				display: block;
				margin: 0 0 0.5em 0;
			}

			form input[type=text],
			form input[type=email],
			form input[type=password],
			form select,
			form textarea
			{
				-webkit-appearance: none;
				display: -webkit-inline-box;
				border: 0;
				padding: 0.5em;
				font-size: 1em;
				border-radius: 8px;
				border: solid 1px #ddd;
				background: #fff;
				color: #bbb;
				box-shadow: inset 0px 2px 3px 1px rgba(0,0,0,0.05), 0px 1px 0px 0px rgba(255,255,255,0.025);
				width: 100%;
				-moz-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
				-webkit-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
				-o-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
				-ms-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
				transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
			}

			form input[type=text]:focus,
			form input[type=email]:focus,
			form input[type=password]:focus,
			form select:focus,
			form textarea:focus
			{
				background: #fafafa;
				box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.05), 0px 1px 0px 0px rgba(255,255,255,0.025), inset 0px 0px 2px 1px #f17485;
			}

			form textarea
			{
				height: 15em;
			}

			form .formerize-placeholder
			{
				color: #555 !important;
			}

			form ::-webkit-input-placeholder
			{
				color: #555 !important;
			}

			form :-moz-placeholder
			{
				color: #555 !important;
			}

			form ::-moz-placeholder
			{
				color: #555 !important;
			}

			form :-ms-input-placeholder
			{
				color: #555 !important;
			}

			form ::-moz-focus-inner
			{
				border: 0;
			}

	/* Tables */

		table
		{
			width: 95%;
			margin:auto;
	    position: initial;
			margin-top:100px;
			margin-bottom: 50px;
		}

			table.default
			{
				width: 100%;
			}

				table.default tr
				{
					border-top: solid 1px #eee;
				}

					table.default tr:first-child
					{
						border-top: 0;
					}

				table.default td
				{
					padding: 0.5em 1em 0.5em 1em;
				}

				table.default th
				{
					text-align: left;
					padding: 0.5em 1em 0.5em 1em;
					font-weight: 600;
					margin: 0 0 1em 0;
				}

				table.default thead
				{
					background: #4f4f4f;
					color: #fff;
				}

				table.default tfoot
				{
				}

				table.default tbody
				{
				}

	/* Section/Article */

		section,
		article
		{
			margin-bottom: 3em;
		}

		section > :last-child,
		article > :last-child
		{
			margin-bottom: 0;
		}

		section:last-child,
		article:last-child
		{
			margin-bottom: 0;
		}

	/* Image */

		.image
		{
			display: inline-block;
			position: relative;
		}

			.image img
			{
				display: block;
				width: 100%;
				margin-top:80px;

			}

			.image.fit
			{
				display: block;
				width: 100%;

			}

			.image.featured
			{
				display: block;
				width: 100%;
				margin: 0 0 2em 0;
			}

			.image.left
			{
				float: left;
				margin: 0 2em 2em 0;
			}

			.image.centered
			{
				display: block;
				margin: 0 0 2em 0;
			}

				.image.centered img
				{
					margin: 0 auto;
					width: auto;
				}

	/* Button */

		input[type="button"],
		input[type="submit"],
		input[type="reset"],
		.button
		{

			-webkit-appearance: none;
			position: -webkit-box;
			display: inline-block;
			color: #fff !important;
			text-decoration: none;
			font-weight: 580;
			border: 0;
			height: 60px;
			outline: 0;
			cursor: pointer;
			/* border-radius: 8px; */
			text-shadow: -1px -1px 0.5px rgba(0,0,0,0.5);
			overflow: hidden;
			box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.5), inset 0px 2px 1px 0px rgba(255,255,255,0.75);
			background: #e16475;
			background-image:	url('images/bg.png'),		-moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
			background-image:	url('images/bg.png'),		-webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
			background-image:	url('images/bg.png'),		-o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
			background-image:	url('images/bg.png'),		-ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
			background-image:	url('images/bg.png'),		linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
			-moz-transition: background-color .2s ease-in-out;
			-webkit-transition: background-color .2s ease-in-out;
			-o-transition: background-color .2s ease-in-out;
			-ms-transition: background-color .2s ease-in-out;
			transition: background-color .2s ease-in-out;
		}


			input[type="button"]:hover,
			input[type="submit"]:hover,
			input[type="reset"]:hover,
			.button:hover
			{
				background-color: #f17485;
				color: #fff !important;
			}

			input[type="button"]:active,
			input[type="submit"]:active,
			input[type="reset"]:active,
			.button:active
			{
				background-color: #d15465;
				top: 1px;
			}

			input[type="button"].alt,
			input[type="submit"].alt,
			input[type="reset"].alt,
			.button.alt
			{
				background-color: #444;
				box-shadow: inset 0px 0px 0px 1px #242424, inset 0px 2px 1px 0px rgba(255,255,255,0.2);
			}

				input[type="button"].alt:hover,
				input[type="submit"].alt:hover,
				input[type="reset"].alt:hover,
				.button.alt:hover
				{
					background-color: #4f4f4f;
					color: #fff !important;
				}

				input[type="button"].alt:active,
				input[type="submit"].alt:active,
				input[type="reset"].alt:active,
				.button.alt:active
				{
					background-color: #3f3f3f;
				}

	/* List */

		ul
		{
		}

			ul.default
			{
				list-style: disc;
				padding-left: 1em;
			}

				ul.default li
				{
					padding-left: 0.5em;
				}

			ul.social
			{
				cursor: default;
				margin: 0;
			}

				ul.social li
				{
					position: relative;
					display: inline-block;
					margin: 0.25em;
					top: 0;
				}

					ul.social li a {
						display: block;
						width: 48px;
						height: 48px;
						border-radius: 6px;
						top: 0;
						position: relative;

						-moz-transition: top .2s ease-in-out;
						-webkit-transition: top .2s ease-in-out;
						-o-transition: top .2s ease-in-out;
						-ms-transition: top .2s ease-in-out;
						transition: top .2s ease-in-out;
					}

					ul.social li a:before {
						background-color: #444;
						background-image: url('images/bg.png'),		-moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
						background-image: url('images/bg.png'),		-ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
						background-image: url('images/bg.png'),		-o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
						background-image: url('images/bg.png'),		-webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
						background-image: url('images/bg.png'),		linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
						border-radius: 6px;
						box-shadow: inset 0px 0px 0px 1px #282828, inset 0px 2px 1px 0px rgba(255,255,255,0.1);
						color: #2E2E2E !important;
						display: block;
						font-size: 26px;
						height: 48px;
						line-height: 48px;
						text-align: center;
						outline: 0;
						overflow: hidden;
						text-shadow: 1px 1px 0px rgba(255,255,255,0.1);
						width: 48px;

						-moz-transition: background-color .2s ease-in-out;
						-webkit-transition: background-color .2s ease-in-out;
						-o-transition: background-color .2s ease-in-out;
						-ms-transition: background-color .2s ease-in-out;
						transition: background-color .2s ease-in-out;
					}

						ul.social li a.fa-twitter		{ background-color: #2DAAE4; }
						ul.social li a.fa-facebook		{ background-color: #3C5A98; }
						ul.social li a.fa-dribbble		{ background-color: #C4376B; }
						ul.social li a.fa-linkedin		{ background-color: #006599; }
						ul.social li a.fa-tumblr		{ background-color: #51718A; }
						ul.social li a.fa-google-plus	{ background-color: #DA2713; }
						ul.social li a.fa-github		{ background-color: #FAFAFA; }
						ul.social li a.fa-rss			{ background-color: #F2600B; }
						ul.social li a.fa-instagram		{ background-color: #E0D7C8; }
						ul.social li a.fa-foursquare	{ background-color: #39A3D4; }
						ul.social li a.fa-skype			{ background-color: #10BEF1; }
						ul.social li a.fa-soundcloud	{ background-color: #FE5419; }
						ul.social li a.fa-youtube		{ background-color: #BF2E25; }
						ul.social li a.fa-blogger		{ background-color: #FF6501; }
						ul.social li a.fa-flickr		{ background-color: #0062DB; }
						ul.social li a.fa-vimeo			{ background-color: #4C8AB0; }

						ul.social li a:hover
						{
							top: -5px;
						}

							ul.social li a:hover:before
							{
								background-color: transparent;
							}

			ul.actions
			{
			}

				ul.actions li
				{
					display: inline-block;
					margin: 0 0 0 1em;
				}

					ul.actions li:first-child
					{
						margin-left: 0;
					}

		ol
		{
		}

			ol.default
			{
				list-style: decimal;
				padding-left: 1.25em;
			}

				ol.default li
				{
					padding-left: 0.25em;
				}

	/* Box */

		.box
		{
			background: #fff;
			box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.15), 0px 2px 3px 0px rgba(0,0,0,0.1);
			text-align: center;
		}

/*********************************************************************************/
/* Icons                                                                         */
/*********************************************************************************/

	.icon {
		text-decoration: none;
	}

		.icon:before {
			display: inline-block;
			font-family: FontAwesome;
			font-size: 1.25em;
			text-decoration: none;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing:antialiased;
			-moz-osx-font-smoothing:grayscale;
		}

		.icon > .label {
			display: none;
		}

		.icon.featured
		{
			color: #8fc3ec;
			display: block;
			margin: 0 0 1.5em 0;
			cursor: default;
		}

			.icon.featured:before
			{
				font-size: 6em;
			}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	.wrapper
	{
		background-image: url('images/bg.png');
		box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.05), inset 0px 2px 3px 0px rgba(0,0,0,0.1);
	}

		.wrapper.first
		{
			box-shadow: none;
		}

		.wrapper.style1
		{
			background-image: none;
			background-color: #fff;
		}

		.wrapper.style2
		{
			background-color: #fafafa;
			text-shadow: 1px 1px 0px #fff;
		}

		.wrapper.style3
		{
			background-color: #f4f4f4;
			text-shadow: 1px 1px 0px #fff;
		}

		.wrapper.style4
		{
			background-color: #303030;
			color: #999;
			text-shadow: -1px -1px 0px #181818;
		}

			.wrapper.style4 h1,
			.wrapper.style4 h2,
			.wrapper.style4 h3,
			.wrapper.style4 h4,
			.wrapper.style4 h5,
			.wrapper.style4 h6
			{
				color: #fff;
			}

			.wrapper.style4 form input[type=text],
			.wrapper.style4 form input[type=password],
			.wrapper.style4 form select,
			.wrapper.style4 form textarea
			{
				border: none;
				background: #282828;
			}

			.wrapper.style4 form input[type=text]:focus,
			.wrapper.style4 form input[type=password]:focus,
			.wrapper.style4 form select:focus,
			.wrapper.style4 form textarea:focus
			{
				background: #252525;
			}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/
	#font-awesome{
		font-size: 1em;
		color: #8c8c8c;

	}

	#nav
	{
		background-color: white;
		text-align: center;


		position: fixed;
		left: 0;
		top:0;

		padding-top:10px;
		padding-bottom:10px;


		width: 100%;
		z-index: 10000;
		cursor: default;
	}

		#nav ul
		{
			margin-bottom: 0;
			margin-top:15px;
		}

		#nav li
		{
			display: inline-block;
		}

		#nav a
		{
			position: relative;
			color: #fff;
			text-decoration: none;
			outline: 0;
		}

			#nav a:hover
			{
				color: #fff !important;
			}

			#nav a.active:before
			{
				content: '';
				display: block;
				position: absolute;
				bottom: -0.6em;
				left: 50%;
				margin-left: -0.75em;
				border-left: solid 0.75em transparent;
				border-right: solid 0.75em transparent;
				border-top: solid 0.6em #282828;
			}

/*********************************************************************************/
/* Articles                                                                      */
/*********************************************************************************/

	#top
	{
	}

		#top .image
		{
			border-radius: 50%;
		}

			#top .image img
			{
				border-radius: 50%;
			}

		#top p
		{
		}

			#top p a
			{
				color: inherit;
			}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		color: #666;
	}

		#copyright a
		{
			color: inherit;

			-moz-transition: color .2s ease-in-out;
			-webkit-transition: color .2s ease-in-out;
			-o-transition: color .2s ease-in-out;
			-ms-transition: color .2s ease-in-out;
			transition: color .2s ease-in-out;
		}

		#copyright a:hover
		{
			color: #777;
		}




		/*********************************************************************************/
		/* Screen Resolution                                                             */
		/*********************************************************************************/


		@media only screen and (min-width: 960px) and (max-width: 1160px) {
			table#home th#address, th#other_1, th#other_2, th#other_3{
				display: none;
			}
			table#home td#address, td#other_1, td#other_2, td#other_3{
				display: none;
			}

			div#create_new_form{
				padding-left:25%;
				padding-right:25%;
			}
		}
		@media only screen and (min-width: 801px) and (max-width: 959px) {

			table#home th#address, th#email, th#other_1, th#other_2, th#other_3{
				display: none;
			}
			table#home td#address, td#email, td#other_1, td#other_2, td#other_3{
				display: none;
			}
			div#create_new_form{
				padding-left:25%;
				padding-right:25%;
			}








		}

		@media only screen and (min-width: 768px) and (max-width: 800px) {

			table#home th#address, th#email, th#other_1, th#other_2, th#other_3, th#sun_kyo{
				display: none;
			}
			table#home td#address, td#email, td#other_1, td#other_2, td#other_3, td#sun_kyo{
				display: none;
			}
			div#create_new_form{
				padding-left:20%;
				padding-right:20%;
			}
		}

		@media only screen and (min-width: 656px) and (max-width: 767px) {

			form#search-input-home {
					width: 350px;
			}
			table#home th#position,th#sa_yeok, th#mok_jang, th#sun_kyo, th#email, th#address, th#other_1, th#other_2, th#other_3{
				display: none;
			}
			table#home td#position,td#sa_yeok, td#mok_jang, td#sun_kyo, td#email, td#address, td#other_1, td#other_2, td#other_3{
				display: none;
			}
			/* contacts/search */
			form#search-input{
				width:350px;
				display: flex;
				margin: auto;

			}
			form#search-input input[type=text]{
				width: 320px;
				border-radius: 0;
				padding: 0.5em;
			}

			form#search-input input[type=submit]{
				position:relative;
				background-color: rgba(47, 149, 212, 0.74);
				width: 100px;
				border-radius: 0;
				border:none;
				padding: 0;
				height: 2.8em;
			}
			div#create_new_form{
				padding-left:5%;
				padding-right:5%;
			}
			/**********************************************/
			div#show-image{
				position: absolute;
				margin-top: 15px;
				top: 0;
				width: 100%;
			}
			span#image{
			}
			img{
				width: 60%;
				margin-left: 20%;
				margin-right: 20%;
			}
			div#show-content{
				margin-top: 350px;
				margin-left: 5%;
				margin-right: 5%;
				bottom: 0;
				width: 90%;

			}
			div#show-button {
			}
			header#show-header{
					width:90%;
					text-align: center;
					margin-top: 120px;
			}
			table#show-table {
				margin-top: 200px;
				width: 65%;


			}

			a#show_button {
			width: 100px;
			margin-bottom: 30px;
			}
			/**********************************************/




		}

		@media only screen and (min-width: 556px) and (max-width: 655px) {

			form#search-input-home {
					width: 350px;
			}
			table#home th#position,th#sa_yeok, th#mok_jang, th#sun_kyo, th#email, th#address, th#other_1, th#other_2, th#other_3{
				display: none;
			}
			table#home td#position,td#sa_yeok, td#mok_jang, td#sun_kyo, td#email, td#address, td#other_1, td#other_2, td#other_3{
				display: none;
			}
			/* contacts/search */
			form#search-input{
				width:350px;
				display: flex;
				margin: auto;

			}
			form#search-input input[type=text]{
				width: 320px;
				border-radius: 0;
				padding: 0.5em;
			}

			form#search-input input[type=submit]{
				position:relative;
				background-color: rgba(47, 149, 212, 0.74);
				width: 100px;
				border-radius: 0;
				border:none;
				padding: 0;
				height: 2.8em;
			}
			div#create_new_form{
				padding-left:5%;
				padding-right:5%;
			}
			/**********************************************/
			div#show-image{
				position: absolute;
				margin-top: 15px;
				top: 0;
			}
			span#image{
			}
			img{
				width: 70%;
				margin-left: 15%;
				margin-right: 15%;
			}
			div#show-content{
				margin-top: 350px;
				margin-left: 5%;
				margin-right: 5%;
				bottom: 0;
				width: 90%;

			}
			div#show-button {
			}
			header#show-header{
					width:90%;
					text-align: center;
			}
			table#show-table {
				margin-top: 80px;
				width: 100%;


			}

			a#show_button {
			width: 100px;
			margin-bottom: 30px;
			}
			/**********************************************/

		}

		@media only screen and (min-width: 481px) and (max-width: 555px) {

			form#search-input-home {
					width: 350px;
			}
			table#home th#position,th#sa_yeok, th#mok_jang, th#sun_kyo, th#email, th#address, th#other_1, th#other_2, th#other_3{
				display: none;
			}
			table#home td#position,td#sa_yeok, td#mok_jang, td#sun_kyo, td#email, td#address, td#other_1, td#other_2, td#other_3{
				display: none;
			}
			/* contacts/search */
			form#search-input{
				width:350px;
				display: flex;
				margin: auto;

			}
			form#search-input input[type=text]{
				width: 320px;
				border-radius: 0;
				padding: 0.5em;
			}

			form#search-input input[type=submit]{
				position:relative;
				background-color: rgba(47, 149, 212, 0.74);
				width: 100px;
				border-radius: 0;
				border:none;
				padding: 0;
				height: 2.8em;
			}
			div#create_new_form{
				padding-left:5%;
				padding-right:5%;
			}
			/**********************************************/
			div#show-image{
				position: absolute;
				margin-top: 15px;
				top: 0;
				width: 100%;
			}
			span#image{
			}
			img{
				width: 60%;
				margin-left: 20%;
				margin-right: 20%;
			}
			div#show-content{
				margin-top: 350px;
				margin-left: 5%;
				margin-right: 5%;
				bottom: 0;
				width: 90%;

			}
			div#show-button {
			}
			header#show-header{
					width:90%;
					text-align: center;
			}
			table#show-table {
				margin-top: 80px;
				width: 100%;


			}

			a#show_button {
			width: 100px;
			margin-bottom: 30px;
			}
			/**********************************************/
		}
		@media only screen and (min-width: 415px) and (max-width: 480px)  {
			form#search-input-home {
					width: 350px;
			}
			table#home th#position,th#sa_yeok, th#mok_jang, th#sun_kyo, th#email, th#address, th#other_1, th#other_2, th#other_3{
				display: none;
			}
			table#home td#position,td#sa_yeok, td#mok_jang, td#sun_kyo, td#email, td#address, td#other_1, td#other_2, td#other_3{
				display: none;
			}
			/* contacts/search */
			form#search-input{
				width:350px;
				display: flex;
				margin: auto;

			}
			form#search-input input[type=text]{
				width: 320px;
				border-radius: 0;
				padding: 0.5em;
			}

			form#search-input input[type=submit]{
				position:relative;
				background-color: rgba(47, 149, 212, 0.74);
				width: 100px;
				border-radius: 0;
				border:none;
				padding: 0;
				height: 2.8em;
			}
			div#create_new_form{
				padding-left:5%;
				padding-right:5%;
			}
			/**********************************************/
			div#show-image{
				position: absolute;
				margin-top: 15px;
				top: 0;
			}
			span#image{
			}
			img{
				width: 70%;
				margin-left: 15%;
				margin-right: 15%;
			}
			div#show-content{
				margin-top: 350px;
				margin-left: 5%;
				margin-right: 5%;
				bottom: 0;
				width: 90%;

			}
			div#show-button {
			}
			header#show-header{
					width:90%;
					text-align: center;
			}
			table#show-table {
				margin-top: 80px;
				width: 100%;


			}

			a#show_button {
			width: 100px;
			margin-bottom: 30px;
			}
			/**********************************************/
}


		/**********************************************/
		/**********  Mobile Screen Size  **************/
		/**********************************************/

			/******************    iPhone 6S Plus   ************************/
			@media only screen and (min-width: 376px) and (max-width: 414px){
				form#search-input-home {
				    width: 350px;
				}
				table#home th#position,th#sa_yeok, th#mok_jang, th#sun_kyo, th#email, th#address, th#other_1, th#other_2, th#other_3{
					display: none;
				}
				table#home td#position,td#sa_yeok, td#mok_jang, td#sun_kyo, td#email, td#address, td#other_1, td#other_2, td#other_3{
					display: none;
				}
				/* contacts/search */
				form#search-input{
					width:350px;
					display: flex;
					margin: auto;

				}
				form#search-input input[type=text]{
					width: 320px;
					border-radius: 0;
					padding: 0.5em;
				}

				form#search-input input[type=submit]{
					position:relative;
					background-color: rgba(47, 149, 212, 0.74);
					width: 100px;
					border-radius: 0;
					border:none;
					padding: 0;
					height: 2.8em;
				}
				div#create_new_form{
					padding-left:5%;
					padding-right:5%;
				}
				/**********************************************/
				div#show-image{
					position: absolute;
					margin-top: 15px;
					top: 0;
				}
				span#image{
				}
				img{
					width: 70%;
					margin-left: 15%;
					margin-right: 15%;
				}
				div#show-content{
					margin-top: 350px;
					margin-left: 5%;
					margin-right: 5%;
					bottom: 0;
					width: 90%;

				}
				div#show-button {
				}
				header#show-header{
						width:90%;
						text-align: center;
				}
				table#show-table {
					margin-top: 80px;
					width: 100%;


				}

				a#show_button {
				width: 100px;
				margin-bottom: 30px;
				}
				/**********************************************/
			}

				/******************    iPhone 6S    ************************/
				@media only screen and (min-width: 321px) and (max-width: 375px){
					form#search-input-home {
					    width: 350px;
					}
					table#home th#position,th#sa_yeok, th#mok_jang, th#sun_kyo, th#email, th#address, th#other_1, th#other_2, th#other_3{
						display: none;
					}
					table#home td#position,td#sa_yeok, td#mok_jang, td#sun_kyo, td#email, td#address, td#other_1, td#other_2, td#other_3{
						display: none;
					}
					/* contacts/search */
					form#search-input{
						width:350px;
						display: flex;
						margin: auto;

					}
					form#search-input input[type=text]{
						width: 320px;
						border-radius: 0;
						padding: 0.5em;
					}

					form#search-input input[type=submit]{
						position:relative;
						background-color: rgba(47, 149, 212, 0.74);
						width: 100px;
						border-radius: 0;
						border:none;
						padding: 0;
						height: 2.8em;
					}
					div#create_new_form{
						padding-left:5%;
						padding-right:5%;
					}
					/**********************************************/
					div#show-image{
						position: absolute;
						margin-top: 15px;
						top: 0;
					}
					span#image{
					}
					img{
						width: 70%;
						margin-left: 15%;
						margin-right: 15%;
					}
					div#show-content{
						margin-top: 350px;
						margin-left: 5%;
						margin-right: 5%;
						bottom: 0;
						width: 90%;

					}
					div#show-button {
					}
					header#show-header{
							width:90%;
							text-align: center;
					}
					table#show-table {
						margin-top: 80px;
						width: 100%;


					}

					a#show_button {
					width: 100px;
					margin-bottom: 30px;
					}
					/**********************************************/
				}

							/******************    iPhone 4S/5S    ************************/
					@media only screen and (min-width: 100px) and (max-width: 320px){

						nav{
							font-size:.75em;
						}



						/***********************************************/
						form#search-input-home {
						    width: 350px;
						}
						table#home th#position,th#sa_yeok, th#mok_jang, th#sun_kyo, th#email, th#address, th#other_1, th#other_2, th#other_3{
							display: none;
						}
						table#home td#position,td#sa_yeok, td#mok_jang, td#sun_kyo, td#email, td#address, td#other_1, td#other_2, td#other_3{
							display: none;
						}
						/* contacts/search */
						form#search-input{
							width:250px;
							display: flex;
							margin: auto;
							padding-top:220px;

						}
						form#search-input input[type=text]{
							width: 320px;
							border-radius: 0;
							padding: 0.5em;
							height: 2.2em;
						}

						form#search-input input[type=submit]{
							position:relative;
							background-color: rgba(47, 149, 212, 0.74);
							width: 100px;
							border-radius: 0;
							border:none;
							padding: 0;
							height: 2.2em;

						}
						div#create_new_form{
							padding-left:5%;
							padding-right:5%;
						}
						/**********************************************/
						div#show-image{
							position: absolute;
							margin-top: 15px;
							top: 0;
						}
						span#image{
						}
						img{
							width: 70%;
							margin-left: 15%;
							margin-right: 15%;
						}
						div#show-content{
							margin-top: 280px;
							margin-left: 5%;
							margin-right: 5%;
							bottom: 0;
							width: 90%;

						}
						div#show-button {
						}
						header#show-header{
								width:90%;
								text-align: center;
								font-size: .75em;
						}

						header#search-heading{
							padding-top:110px;
							font-size:.75em;
						}
						table#show-table {
							margin-top: 50px;
							width: 100%;
							font-size:.75em;
						}
						table td#show_key{
							height:25px;
						}

						a#show_button {
						width: 100px;
						margin-bottom: 30px;
						}
						/**********************************************/
				}
		}
